*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f172a,#1e293b);
  color:white;
}

.container{
  width:380px;
}

#map{
  height:280px;
  width:100%;
  border-radius:20px;
  margin-bottom:15px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.weather-box{
  padding:25px;
  border-radius:20px;
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,0.08);
  border:1px solid rgba(255,255,255,0.2);
  text-align:center;
}

.weather-box img{
  width:110px;
  margin:10px 0;
}

.weather-box h1{
  font-size:28px;
}

.weather-box h2{
  font-size:48px;
}

.details{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.detail{
  background:rgba(255,255,255,0.1);
  padding:12px;
  border-radius:15px;
  width:45%;
}

.detail span{
  font-size:13px;
}

.detail p{
  margin-top:5px;
  font-size:18px;
  font-weight:bold;
}
#fx{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  opacity:0.3;
  z-index:999;
}

.rain{
  background:url("https://i.imgur.com/MXbQ6hQ.png");
  animation: rain 0.3s linear infinite;
}

.snow{
  background:url("https://i.imgur.com/2yYayZk.png");
  animation: snow 1s linear infinite;
}

@keyframes rain{
  from{background-position:0 0;}
  to{background-position:0 100px;}
}

@keyframes snow{
  from{background-position:0 0;}
  to{background-position:0 200px;}
}
