body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

.app{
  display:grid;
  grid-template-columns: 1.5fr 1fr;
  height:100vh;
}

#map{
  height:100%;
}

.panel{
  padding:20px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
}

.topbar{
  position:absolute;
  top:10px;
  left:10px;
  z-index:999;
}

button{
  margin:5px;
  padding:8px 12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.main{
  display:flex;
  align-items:center;
  gap:15px;
}

#weatherIcon{
  width:80px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin-top:10px;
}

canvas{
  margin-top:15px;
  width:100%;
  background:rgba(255,255,255,0.05);
  border-radius:10px;
}

#fx{
  position:fixed;
  width:100%;
  height:100%;
  pointer-events:none;
  opacity:0.3;
}

.rain{
  background:url("https://i.imgur.com/MXbQ6hQ.png");
  animation: rain .3s linear infinite;
}

.snow{
  background:url("https://i.imgur.com/2yYayZk.png");
  animation: snow 1s linear infinite;
}

@keyframes rain{to{background-position:0 100px}}
@keyframes snow{to{background-position:0 200px}}

#loading{
  position:fixed;
  top:10px;
  right:10px;
  background:black;
  padding:8px;
  border-radius:10px;
  display:none;
}

.history{
  margin-top:10px;
  font-size:12px;
  opacity:.7;
}
